
<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="pisos/new"><%= image_tag("pisoramica_nav.jpg", width: 200) %></a>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="pisos">Pisos</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://wa.me/+5515998164773">Contato</a>
</div>
