
<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="pisos/new"><%= image_tag("pisoramica_nav.jpg", width: 200) %></a>
    <h1 style="color:white">Douglas clicar no logo</h1>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="pisos">Pisos</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://api.whatsapp.com/send?phone=+551599816-4773">Contato</a>
</div>
