  <div class="container">
    <div class="lista">
    <h1>Lista de pisos</h1>
      <a href="#"><% @pisos.each do |piso| %>
        <%= link_to piso.nome, piso_path(piso.id) %>
      <% end %> <i class="uil uil-arrow-right"></i></a></a>
    </div>

    <footer class="lista">
      <%= link_to "Criar piso", pisos_new_path %>
    </footer>
  </div>
