    <nav class="navMenu">
      <a href="#"><% @pisos.each do |piso| %>
      <%= link_to piso.nome, piso_path(piso.id) %>
      <% end %> <i class="uil uil-arrow-right"></i></a></a>
      <div class="dot"></div>
    </nav>
